---
layout: default
---

#registration

  %section#about
    .about-content
      %h1.boom Johannesburg LevelUp EXP

      %h3
        22nd March, 2014 at
        %a{href: "https://www.google.com/maps/place/South+Point+Central/@-26.1938837,28.0359482,17z/data=!3m1!4b1!4m2!3m1!1s0x1e95a78d28752a77:0xe45083e59a8a875e?hl=en"} ThoughtWorks Braamfontein

      %p.description
        University students graduate every year, and enter the workforce often unprepared or unsure of what they'll encounter in the workplace. On 11th January, 2014 ThoughtWorks is changing that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.

      %p.description This one day mini-conference will cover technical topics, agile techniques, and how to bridge the gap from IT graduate, to IT professional.

  %section#register
    %h2 Register for the course
    .border-line

    %form
      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "surname", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %input.button{type: "submit", value: "Register"}

    .clearfix

