---
layout: default
---

#registration

  %section#header
    %h1.boom Sydney LevelUp 3
    %p Free conference event for IT students. &nbsp;
    %h3
      11th January, 2014 at
      %a{href: "www.google.com"} ThoughtWorks Braamfontein

  %section#testimonials.alt
    %h2 Feedback from Students

    .border-line

    .profile
      .quote
        "I felt like I was light years ahead of where I would have been."

        %small Business Analyst, Accenture

        .person Bruce

      %img{src: "./assets/images/man.jpg"}

    .profile
      .quote
        "LevelUp prepared me for the workplace by filling in the things that
        University left out. I got to participate in a real project, and get real
        experience!"

        %small Software Engineer, Google

        .person Tholang

      %img{src: "./assets/images/tholang.jpg"}

    .profile
      .quote
        "I learned more in nine weeks at LevelUp than I did in any of my classes."

        %small Developer Consultant, ThoughtWorks

        .person Sam

      %img{src: "./assets/images/tholang.jpg"}

  %section#photos
    %h2 Photos

    .border-line

    %img.large{src: './assets/photos/9.jpg'}
    %img.small{src: './assets/photos/3.jpg'}
    %img.small{src: './assets/photos/4.jpg'}
    %img.large{src: './assets/photos/7.jpg'}
    %img.small{src: './assets/photos/10.jpg'}
    %img.small{src: './assets/photos/5.jpg'}
    %img.small{src: './assets/photos/2.jpg'}
    %img.large{src: './assets/photos/8.jpg'}
    %img.small{src: './assets/photos/6.jpg'}
    %img.small{src: './assets/photos/1.jpg'}

  .clearfix


  %section#schedule
    %h2 Conference Schedule
    .border-line
    .talk
      .left
        .time 10.00AM
        %img{src: "./assets/images/man.jpg"}
      .right
        %h3.title The Whole Design Yard
        %h5.presenter Pete Chemsripong
        .description Come check out Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla facilisi. Praesent lectus nunc
    .talk
      .left
        .time 11.00AM
        %img{src: "./assets/images/tholang.jpg"}
      .right
        %h3.title Advance Agile
        %h5.presenter Sam Gibson
        .description Proin nec rutrum neque. Nam gravida lorem sit amet ipsum rutrum, eu tincidunt enim posuere. Fusce nec lacinia elit. Mauris volutpat leo eget ante dignissim vulputate. Ut venenatis arcu eu turpis commodo
    .talk.break
      .left
        .time 11.00AM
      .right
        %h3.title Lunch
        .description Treat yourself to pear and blueberry tea cake, mini danish pastries and chocolate and raspberry brownies. You deserve it!
    .talk.last
      .left
        .time 1.00AM
        %img{src: "./assets/images/man.jpg"}
      .right
        %h3.title The Whole Design Yard
        %h5.presenter Pete Chemsripong
        .description Come check out Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla facilisi. Praesent lectus nunc


  .clearfix
