---
layout: default
---

%header.navbar
  .content
    %img(src="./assets/logo.png")

%section.callout
  .tagline-container
    %h2.tagline Stop studying. Start doing.

%section.content
  %h2 Upcoming Events
  %p
    Check for events near you and register before it's too late.
  .border-line

  .event
    .location
      Sydney
    .name
      LevelUp Bonus
    .date
      6th December 2013, 6 - 9pm

%section.content
  %h2 Real Stories
  %p
    Stories from alumni of the Level Up program tell of all the amazing success the program has brought.
  .border-line
  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."
      %small
        Business Analyst Enquire IT
    %img(src="./assets/man.jpg")

  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."
      %small
        Business Analyst Enquire IT
    %img(src="./assets/tholang.jpg")

  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."
      %small
        Business Analyst Enquire IT
    %img(src="./assets/man.jpg")
