---
layout: default
---

%header.navbar
  .content
    %img(src="./assets/logo.png")

%section.callout
  .tagline-container
    %h2.tagline From Student to Professional

%section.section
  %h2 Upcoming Events

  .event
    .name
      %a{href: "#"} LevelUp Bonus
    .location
      Sydney
    .date
      6th December 2013, 6 - 9pm

%section.section
  %h2 Real Stories
  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."

    .who
      %img.avatar(src="./assets/man.jpg")

      .name
        %a{href: "#"}
          Sam
          %span.location (Sydney)

      .twitter
        %a{href: "#"} @capnkrump

  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."
    .who
      %img.avatar(src="./assets/tholang.jpg")

      .name
        %a{href: "#"}
          Tholang
          %span.location (Johannesburg)

      .twitter
        %a{href: "#"} @tholangTHEBEST

  .profile
    %blockquote.quote
      "I felt like I was light years ahead of where I would have been."
    .who
      %img.avatar(src="./assets/man.jpg")

      .name
        %a{href: "#"}
          James Kirk
          %span.location (Melbourne)

      .twitter
        %a{href: "#"} @melbournecafe
