---
layout: default
---

%header#navbar
  .navbar-internal
    .content
      %img{src: "./assets/glyph-logo.png"}

%section#header
  %h1.boom LevelUp Your Education

  %form#get-updates{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=f7f8e45351", method: "post", name: "mc-embedded-subscribe-form"}
    %h3 Register and be the first to hear about upcoming LevelUp events

    .details
      .form-group
        %input.email{type: "email", name: "EMAIL", placeholder: "Email Address"}
        %input.sign-up.button.info-button{type: "submit", value: "Sign Up"}

%section#about.alt
  .about-content
    %h2 About LevelUp

    %p
      LevelUp is a series of classes, and conferences for students
      who want to add to their classroom learning with real-world experience.
      Topics range from test-driven development, continuous delivery and pair
      programming to Agile project management, business analysis and how
      employers hire grads.

    %p
      LevelUp EXP conferences are single day events. LevelUp courses run 6-9
      weeks, one evening a week.
      %strong
        %em
          LevelUp is a non-for-profit initiative, run by ThoughtWorks volunteers. 

%section#events
  %h2 Upcoming Events

  .border-line

  .event
    %h4.location Sydney
    %h5.name Levelup 3
    .register
      %a.apply.button{href: "sydney/course/3.html"} Register Now
    .date
      22nd March 2014

  .event
    %h4.location Johannesburg
    %h5.name Levelup
    .register
      %a.apply.finished.button{href: "/"} Finished
    .date
      11th January 2013

  .event
    %h4.location Melbourne
    %h5.name Levelup EXP
    .register
      %a.apply.finished.button{href: "/"} Finished
    .date
      12th January 2013

  .earth
    %img.earth-line{src: "./assets/map.png"}

  %div
    %a{href: "previous-events.html"} See previous events

%section#testimonials
  %h2 What Our Students Have to Say

  .border-line

  .profile
    .quote
      "I felt like I was light years ahead of where I would have been."

      %small Business Analyst, Accenture

      .person Bruce

    %img{src: "./assets/man.jpg"}

  .profile
    .quote
      "LevelUp prepared me for the workplace by filling in the things that
      University left out. I got to participate in a real project, and get real
      experience!"

      %small Software Engineer, Google

      .person Tholang

    %img{src: "./assets/tholang.jpg"}

  .profile
    .quote
      "I learned more in nine weeks at LevelUp than I did in any of my classes."

      %small Developer Consultant, ThoughtWorks

      .person Sam

    %img{src: "./assets/sam.jpg"}

%section#photos
  %h2 Real Experience

  .border-line

  %img.large{src: './assets/photos/9.jpg'}
  %img.small{src: './assets/photos/3.jpg'}
  %img.small{src: './assets/photos/4.jpg'}
  %img.large{src: './assets/photos/7.jpg'}
  %img.small{src: './assets/photos/10.jpg'}
  %img.small{src: './assets/photos/5.jpg'}
  %img.small{src: './assets/photos/2.jpg'}
  %img.large{src: './assets/photos/8.jpg'}
  %img.small{src: './assets/photos/6.jpg'}
  %img.small{src: './assets/photos/1.jpg'}

  .clearfix

