---
layout: default
---

%section.yellow
  .content
    %img(src="./assets/logo.png")

%section
  .content
    %h1 Real Stories
    %p
      Stories from alumni of the Level Up program tell of all the amazing success the program has brought.
    .border-line
    .profile
      .quote
        "I felt like I was light years ahead of where I would have been."
        %small
          Business Analyst Enquire IT
      %img(src="./assets/man.jpg")

    .profile
      .quote
        "I felt like I was light years ahead of where I would have been."
        %small
          Business Analyst Enquire IT
      %img(src="./assets/tholang.jpg")

    .profile
      .quote
        "I felt like I was light years ahead of where I would have been."
        %small
          Business Analyst Enquire IT
      %img(src="./assets/man.jpg")
