---
layout: default
---
%header#navbar
  .navbar-internal
    .content
      %img{src: "../../assets/glyph-logo.png"}


%section#previous-events
  %h2 Previous Events

  .border-line


  .location
    .left
      %h2 Melbourne
    .right
      .event
        %h3.title LevelUp EXP
        .description
          The first LevelUp event to be hosted in Melbourne.

      .event
        %h3.title LevelUp 1
        .description
          Five weeks of intense learning, open to all University students interested in technology.

  .location
    .left
      %h2 Brisbane
    .right
      .event
        %h3.title LevelUp EXP
        .description
          The first LevelUp event to be hosted in Brisbane.

  .location
    .left
      %h2 Johannesburg
    .right
      .event
        %h3.title LevelUp 1
        .description
          The first LevelUp event to be hosted in Johannesburg

  .location
    .left
      %h2 Sydney
    .right
      .event
        %h3.title LevelUp 1
        .description
          The LevelUp program took those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks.

      .event
        %h3.title LevelUp EXP
        .description
          Our first 1 day conference

      .event
        %h3.title LevelUp 2
        .description
          Over 9 weeks, you'll deliver a project from start to finish, guided by highly experienced professionals.

      .event
        %h3.title LevelUp EXP 2
        .description
          Our second one day conference

      .event
        %h3.title LevelUp Bonus Level
        .description
          Wanna hear from 2 international experts in Sydney for the YOW conference? This bonus level will see Jim Webber talking about graph databases and Jeff Patton talking about lean convert.
