---
layout: default
---

#registration
  %header#navbar
    .navbar-internal
      .content
        %img{src: "./assets/glyph-logo.png"}

  %section#register
    %h1.boom Sydney LevelUp 3

    %h3
      11th January, 2014 at
      %a{href: "www.google.com"} ThoughtWorks Braamfontein

    %form
      %p.description
        LevelUp 3 is our biggest conference yet. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Maecenas ut ligula iaculis quam auctor
        tincidunt eu nec mi.  Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Nunc sodales dignissim
        egestas. Nulla facilisi. Praesent lectus nunc

      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "email", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %input.button{type: "submit", value: "Register"}

  %section#schedule
    %h2 Schedule

    .border-line

    .talk
      .left
        .time 10.00AM
        %img{src: "./assets/man.jpg"}
      .right
        %h3.title The Whole Design Yard
        %h5.presenter Pete Chemsripong
        .description
          Come check out Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk
      .left
        .time 11.00AM
        %img{src: "./assets/tholang.jpg"}
      .right
        %h3.title Advance Agile
        %h5.presenter Sam Gibson
        .description
          Proin nec rutrum neque. Nam gravida lorem sit amet ipsum rutrum, eu
          tincidunt enim posuere. Fusce nec lacinia elit. Mauris volutpat leo
          eget ante dignissim vulputate. Ut venenatis arcu eu turpis commodo

    .talk.break
      .left
        .time 11.00AM
      .right
        %h3.title Lunch
        .description
          Treat yourself to pear and blueberry tea cake, mini danish pastries
          and chocolate and raspberry brownies. You deserve it!

    .talk.last
      .left
        .time 1.00AM
        %img{src: "./assets/man.jpg"}
      .right
        %h3.title The Whole Design Yard
        %h5.presenter Pete Chemsripong
        .description
          Come check out Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc


    .clearfix

