* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.button {
  -webkit-transition: background 200ms, color 200ms;
  -moz-transition: background 200ms, color 200ms;
  transition: background 200ms, color 200ms;

  display: inline-block;
  padding: 0.55em 1.5em;
  padding-bottom: 0.75em;
  border: 0;
  border-radius: 5px;
  background-color: #34495e;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button-primary {
  $primary-button-color: #4DCA6A;
  background-color: $primary-button-color;

  &:hover {
    background-color: darken($primary-button-color, 5%);
  }
}

.callout {
  height: 600px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    background: url(./assets/images/callout.jpg);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(3px) sepia(0.2) contrast(1.1);
    filter: blur(3px) sepia(0.2) contrast(1.1);
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: -1;
  }

  .tagline-container {
    display: table;
    height: 100%;
    width: 100%;

    .tagline {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .button {
        margin-top: 40px;
        font-size: 25px;
      }

      h2, h3 {
        margin: 0;
        color: white;
        text-shadow: 0 0 5px rgba(#333, 0.8);
      }

      h3 {
        font-size: 50px;
        font-weight: 200;
      }

      h2 {
        font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 80px;
      }
    }
  }
}

.event {
  .location {
    font-size: 1.4em;
  }

  .name {
    font-size: 1.8em;
    color: #333;
  }

  .date {
    font-size: 0.9em;
    padding-top: 10px;
  }
}

.navbar {
  background: white;
  border-bottom: 1px #c5c5c5 solid;
  position: fixed;
  padding: 10px;
  height: 80px;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

section {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;

  h2 {
    font-size: 42px;
    font-weight: 100;
  }
}

.profile {
  float: left;
  width: 33%;
  padding: 10px;
  text-align: left;

  .quote{
    $quote-background-color: #f6f9fa;
    $quote-highlight-color: darken($quote-background-color, 15%);

    position: relative;
    background-color: $quote-background-color;
    box-shadow: 0 3px 0 $quote-highlight-color;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 0 auto;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: solid 18px;
      left: 20px;
      bottom: -36px;
      border-color: $quote-highlight-color transparent transparent transparent;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: solid 14px;
      left: 24px;
      bottom: -28px;
      border-color: $quote-background-color transparent transparent transparent;
    }
  }

  .who {
    padding-top: 25px;

    .name, .twitter {
      margin-left: 70px;
      margin-bottom: 5px;

      a {
        color: #6DBCDB;
        text-decoration: none;
      }
    }

    .name {
      font-weight: bold;
    }

    .twitter {
      font-size: 0.8em;
    }

    .avatar {
      float: left;
      border-radius: 100%;
      margin-left: 18px;
      width: 40px;
    }
  }
}

