* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.callout {
  height: 600px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    background: url(./assets/callout.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px) sepia(0.2) contrast(1.1);
    -webkit-filter: blur(3px) sepia(0.2) contrast(1.1);
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: -1;
  }

  .tagline-container {
    display: table;
    height: 100%;
    width: 100%;

    .tagline {
      display: table-cell;
      vertical-align: middle;
      color: white;
      font-size: 60px;
      text-shadow: 0 0 5px rgba(#333, 0.8);
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.event {
  border-left: 1px solid #c5c5c5;
  max-width: 300px;

  .location {
    font-size: 2em;
  }

  .name {
    font-size: 1.2em;
    color: #333;
  }

  .date {
    font-size: 1em;
    padding-top: 10px;
  }
}

.navbar {
  background: rgba(white, 0.8);
  border-bottom: 1px rgba(#c5c5c5, 0.8) solid;
  position: fixed;
  padding: 10px;
  height: 80px;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

section.content {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;

  h2 {

  }
}

.border-line {
  border: 4px #f7ef34 solid;
  margin: 30px auto 35px auto;
  max-width: 400px;
}


.profile {
  float: left;
  width: 33%;
  padding: 10px;
  text-align: left;

  .quote{
    $quote-background-color: #f6f9fa;
    $quote-highlight-color: darken($quote-background-color, 15%);

    position: relative;
    background-color: $quote-background-color;
    box-shadow: 0 3px 0 $quote-highlight-color;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 0 auto;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: solid 18px;
      left: 20px;
      bottom: -36px;
      border-color: $quote-highlight-color transparent transparent transparent;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: solid 14px;
      left: 24px;
      bottom: -28px;
      border-color: $quote-background-color transparent transparent transparent;
    }
  }

  .who {
    padding-top: 25px;

    .name, .twitter {
      margin-left: 70px;
      margin-bottom: 5px;

      a {
        color: #6DBCDB;
        text-decoration: none;
      }
    }

    .name {
      font-weight: bold;
    }

    .twitter {
      font-size: 0.8em;
    }

    .avatar {
      float: left;
      border-radius: 100%;
      margin-left: 18px;
      width: 40px;
    }
  }
}

