---
layout: default
---

#registration

  %section#about
    .about-content
      %h1.boom Sydney LevelUp 3

      %h3
        24th March 2014 at
        %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Sydney

      %p.description
        Over 7 weeks, you'll deliver a project from start to finish, guided by a team of ThoughtWorks consultants. We'll teach you everything you need to know along the way, from Agile planning and design to writing and testing your own code. You won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace.

  %section#faq
    %h2 Course Information

    .border-line

    %p.description
      sdfsdf

    .questions
      .question
        When does it begin?
      .answer
        The kickoff day begins 22nd March with a full day of talks, workshops and group work. Then, we meet weekly from the 24th, every Monday night from 6pm till 9pm, to deliver a game.

      .question
        What do I need to bring?
      .answer
        We do require you to bring your own laptop. We will not be able to supply you with one. Food and drinks will be provided.

      .question
        What are the different roles?
      .answer
        BA, Dev, Tester

      .question
        What happens if I pick a role - am I stuck with it?
      .answer
        We believe every person on an Agile team should have the ability to work cross-functionally. A developer should be able to pair with a business analyst and come uxfdfdfsdfdf


      .question
        But I don't know anything about video games.
      .answer
        I'm sure you have some awesome ideas though.

      .question

      .answer


  %section#register
    %h2 Register for the course
    .border-line

    %form
      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "surname", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %label What do you like doing?
        %select#role{name: "role"}
          %option -- Please select
          %option Business Analyst
          %option Developer
          %option Tester
          %option Not sure

      .form-group
        %label Any special dietary requirements?
        %select{name: "diet"}
          %option No
          %option Vegetarian
          %option Vegan

      #developer-questions.hide
        %p If you are intending on doing development during the course, we ask that you fill out this quick questionnaire on skill levels. It's just so we can help plan the teams, so don't stress.

        %h4 Please estimate your ability with:
        .form-group
          %label Using the command line
          %select{name: "command_line"}
            %option I feel at home using it
            %option I can get by
            %option I struggle a little bit
            %option What is a command line?

        .form-group
          %label Using source control
          %select{name: "source_control"}
            %option I've used Git before
            %option I've used SVN before
            %option What is source control?

        .form-group
          %label Written unit tests
          %select{name: "testing"}
            %option I write tests regularly.
            %option I've heard of them, but don't write them normally.
            %option I've never heard of unit testing

      .form-group
        %input.button{type: "submit", value: "Register"}


  %section#schedule
    %h2 Kickoff Day Agenda

    .border-line

    .talk
      .left
        .time 9.00AM
        %img{src: "../../assets/images/breakfast.jpg"}
      .right
        %h3.title Breakfast and mingling
        .description
          Start the day off with a tasty breakfast, and getting to know your fellow LevelUp'ers.

    .talk
      .left
        .time 9:30AM
        %img{src: "../../assets/images/lego.jpg"}
      .right
        %h3.title The Lego Game
        .description
          The Lego Game is a game designed to give you a taste of the Agile software development process. ThoughtWorks actually uses this game with clients to set the context around working in an Agile team.


    .talk
      .left
        .time 10:30AM
        %img{src: "../../assets/images/agile.jpg"}
      .right
        %h3.title What the heck is Agile anyway?
        .description
          Developing software in an Agile manner needs some basic knowledge. Here we'll show you the in's and out's of stand up's, retro's, 'The Wall', what the Agile manifesto is all about, as well as how developers push and pull quality code.

    .talk
      .left
        .time 12.30AM
        %img{src: "../../assets/images/lunch.jpg"}
      .right
        %h3.title Lunch and Product Owner presentations
        .description
          Meet your product owners, and find out why they've hired you to help realise there next idea.

    .talk
      .left
        .time 1.00PM
        %img{src: "../../assets/images/inception.png"}
      .right
        %h3.title Your very first Inception
        .description
          Work with your product owners and teams to brain storm some ideas and come to an agreement on what you'll be building.

    .talk
      .left
        .time 4.30PM
        %img{src: "../../assets/images/presentations.jpg"}
      .right
        %h3.title Team presentations
        .description
          Work as a team to come up with a proposal you will present to the rest of the group.

    .talk.last
      .left
        .time Rest of the evening
        %img{src: "../../assets/images/socializing.jpg"}
      .right
        %h3.title To the pub!
        .description
          Socializing and drinks!



    .clearfix

:javascript
  $("#role").change(function(){
    if($("#role option:selected").text() === 'Coding (Developer)'){
      $("#developer-questions").show();
    } else{
      $("#developer-questions").hide();
    }
  });

