---
layout: default
---

#registration

  %section#about
    .about-content
      %h1.boom Sydney LevelUp 3

      %h3
        22nd March, 2014 at
        %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Sydney

      %p.description
        Over 7 weeks, you'll deliver a project from start to finish, guided by a team of ThoughtWorks consultants. We'll teach you everything you need to know along the way, from Agile planning and design to writing and testing your own code. You won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace.

  %section#register
    %h2 Register for the course
    .border-line

    %form
      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "surname", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %label What do you like doing?
        %select#role{name: "role"}
          %option Breaking other people's code (QA/Tester)
          %option Coding
          %option Not sure

      .form-group
        %label Any special dietary requirements? 
        %select{name: "diet"}
          %option No
          %option Vegetarian
          %option Vegan

      #developer-questions.hide
        %p If you are intending on doing development during the course, we ask that you fill out this quick questionnaire on skill levels. It's just so we can help plan the teams, so don't stress.
        
        %h4 Please estimate your ability with: 
        .form-group
          %label Using the command line
          %select{name: "command_line"}
            %option I feel at home using it
            %option I can get by
            %option I struggle a little bit.

        .form-group
          %label Using source control
          %select{name: "source_control"}
            %option I'm used Git before
            %option I've used SVN before
            %option I've never used either

        .form-group
          %label Written unit tests
          %select{name: "testing"}
            %option I write tests regularly.
            %option I've heard of them, but don't write them normally.
            %option I've never heard of unit testing

      .form-group
        %input.button{type: "submit", value: "Register"}

  %section#timeline
    %h2 Course Timeline

    .border-line

    .events

      %p 
        %strong Kickoff day: 
        22nd March
      %p 
        %strong Course: 
        6 weeks, running every Thursday evening, starting 27th March, and finishing 1st May.


    .clearfix

  %section#faq
    %h2 Frequently Asked Questions

    .border-line

    .questions
      .question
        How much does it cost to attend LevelUp?
      .answer
        LevelUp events are completely free!


  %section#schedule
    %h2 Kickoff Day Agenda

    .border-line

    .talk
      .left
        .time 9.00AM
        %img{src: "../../assets/breakfast.jpg"}
      .right
        %h3.title Breakfast and mingling
        .description
          Start the day off with a tasty breakfast, and getting to know your fellow LevelUp'ers.

    .talk
      .left
        .time 9:30AM
        %img{src: "../../assets/lego.jpg"}
      .right
        %h3.title The Lego Game
        .description
          The Lego Game is a game designed to give you a taste of the Agile software development process. ThoughtWorks actually uses this game with clients to set the context around working in an Agile team.


    .talk
      .left
        .time 10:30AM
        %img{src: "../../assets/agile.jpg"}
      .right
        %h3.title What the heck is Agile anyway?
        .description
          Developing software in an Agile manner needs some basic knowledge. Here we'll show you the in's and out's of stand up's, retro's, 'The Wall', what the Agile manifesto is all about, as well as how developers push and pull quality code.

    .talk
      .left
        .time 12.30AM
        %img{src: "../../assets/lunch.jpg"}
      .right
        %h3.title Lunch and Product Owner presentations
        .description
          Meet your product owners, and find out why they've hired you to help realise there next idea. 

    .talk
      .left
        .time 1.00PM
        %img{src: "../../assets/inception.png"}
      .right
        %h3.title Your very first Inception
        .description
          Work with your product owners and teams to brain storm some ideas and come to an agreement on what you'll be building.

    .talk
      .left
        .time 4.30PM
        %img{src: "../../assets/presentations.jpg"}
      .right
        %h3.title Team presentations
        .description
          Work as a team to come up with a proposal you will present to the rest of the group. 

    .talk.last
      .left
        .time Rest of the evening
        %img{src: "../../assets/socializing.jpg"}
      .right
        %h3.title To the pub!
        .description
          Socializing and drinks!



    .clearfix

:javascript
  $("#role").change(function(){ 
    if($("#role option:selected").text() === 'Coding'){ 
      $("#developer-questions").show();
    } else{
      $("#developer-questions").hide();
    }
  });

