---
layout: default
---

#registration
  %header#navbar
    .navbar-internal
      .content
        %img{src: "../../assets/glyph-logo.png"}

  %section#about
    .about-content
      %h1.boom Sydney LevelUp 3

      %h3
        22nd March, 2014 at
        %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Sydney

      %p.description
        Over 7 weeks, you'll deliver a project from start to finish, guided by a team of ThoughtWorker consultants. We'll teach you everything you need to know along the way, from Agile planning and design to writing and testing your own code. You won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace.

  %section#register
    %h2 Register for the course
    .border-line

    %form
      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "surname", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %label What do you like doing?
        %select{name: "role"}
          %option Coding
          %option Analysis
          %option Not sure

      .form-group
        %label Any special dietary requirements? 
        %select{name: "role"}
          %option No
          %option Vegetarian
          %option Vegan

      .form-group
        %input.button{type: "submit", value: "Register"}

  %section#schedule
    %h2 Course Timeline

    %p 
      %strong Kickoff day: 
      22nd March
    %p 
      %strong Course: 
      6 weeks, running every Thursday evening, starting 27th March, and finishing 1st May.

    .border-line

    .clearfix

  %section#schedule
    %h2 Kickoff Day Agenda

    .border-line

    .talk
      .left
        .time 9.00AM
        %img{src: "../../assets/breakfast.jpg"}
      .right
        %h3.title Breakfast and mingling
        .description
          Start the day off with a tasty breakfast, and getting to know your fellow LevelUp'ers.

    .talk
      .left
        .time 9:30AM
        %img{src: "../../assets/lego.jpg"}
      .right
        %h3.title The Lego Game
        .description
          The Lego Game is a game designed to give you a taste of the Agile software development process. ThoughtWorks actually uses this game with clients to set the context around working in an Agile team.


    .talk
      .left
        .time 10:30AM
        %img{src: "../../assets/agile.jpg"}
      .right
        %h3.title What the heck is Agile anyway?
        .description
          The circuit. FIgure out a way to display this concept Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk
      .left
        .time 12.30AM
      .right
        %h3.title Lunch and Product Owner presentations
        .description
          Meet your product owners, and find out why they've hired you to help realise there next idea. 

    .talk
      .left
        .time 1.00PM
        %img{src: "../../assets/inception.png"}
      .right
        %h3.title Your very first Inception
        .description
          Work with your product owners and teams to brain storm some ideas and come to an agreement on what you'll be building.

    .talk
      .left
        .time 4.30PM
        %img{src: "../../assets/man.jpg"}
      .right
        %h3.title Team presentations
        .description
          Team presentations Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk.last
      .left
        .time Rest of the evening
        %img{src: "../../assets/man.jpg"}
      .right
        %h3.title To the pub!
        .description
          Beer and beer Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. d lectus nunc



    .clearfix

