$screen-small: 360px;
$screen-medium: 768px;
$screen-large: 960px;

$primary-button-color: #f61f62;
$info-button-color: #6dbb6f;
$input-border-color: #ddd;
$link-color: #f61f62;

$phone-screen: "only screen and (max-width: #{$screen-small})";
$pad-screen: "only screen and (max-width: #{$screen-medium})";
$large-screen: "only screen and (min-width: #{$screen-large})";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$navbar-height: 80px;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 15%);
  }
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

section, footer, header {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  max-width: $screen-large;
  margin: 0 auto;
}

.tw {
  max-width: 200px;
  margin-top: 45px;
}

.border-line {
  border: 4px #f61f62 solid;
  margin: 30px auto 35px auto;
  max-width: 400px;

  @media #{$phone-screen} {
    width: 100%;
    margin: 30px 0;
  }
}

.clearfix {
  clear: both;
}

.button {
  display: inline-block;
  font-weight: normal;
  padding: 0.55em 1.5em;
  padding-bottom: 0.75em;
  border: 0;
  border-radius: 5px;
  background-color: $primary-button-color;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten($primary-button-color, 10%);
  }
}

.info-button {
  background-color: $info-button-color;

  &:hover {
    background-color: lighten($info-button-color, 10%);
  }
}

.alt {
  background-color: #f0f0f0;
}

h1.boom {
  color: #464646;
  font-size: 3em;
  font-weight: 300;
}

#get-updates {
  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #999;
  }

  .details {
    @media #{$phone-screen} {
      padding: 10px;
      width: 100%;
    }

    .sign-up {
      top: -2px;
      position: relative;
    }
  }
}

section#about {
  margin: 0;
  max-width: 100%;
  padding: 20px;
  width: 100%;

  .about-content {
    max-width: $screen-medium;
    margin: 0 auto;
  }

  p {
    line-height: 1.6em;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 55px;
  }
}


section#photos {
  img {
    float: left;
    margin: 0 1.5% 3% 1.5%;
    overflow: hidden;
  }

  img.small {
    width: 30%;
  }

  img.large {
    width: 60%;
  }
}

section#upcoming-events {
  .event {
    border-left: 1px solid #c5c5c5;
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 0;
    width: $pad-screen / 3;
    padding: 0 30px;

    &:nth-of-type(2) {
      border-left: none;
    }

    .location, .name {
      margin: 0;
    }

    .location {
      font-size: 1.6em;
      font-weight: 300;
    }

    .name {
      font-size: 1.2em;
      font-weight: 300;
      color: #333;
    }

    .register {
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .date {
      font-size: 1em;
      font-style: italic;
    }

    .apply {
      color: white;
    }

    @media #{$pad-screen} {
      width: 100%;
      float: none;
      border-left: none;
    }
  }

  .earth-line {
    max-width: 500px;

    @media #{$phone-screen} {
      display: none;
    }

    @media #{$pad-screen} {
      width: 100%;
    }
  }
}

section#testimonials {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 20px;
  width: 100%;

  .profile {
    display: inline-block;
    text-align: center;
    width: 30%;

    @media #{$pad-screen} {
      width: 100%;
      display: block;
      margin-bottom: 35px;
    }

    .quote {
      background: #f3f3f3;
      border: 1px solid white;
      border-radius: 5px 0 5px 0;
      padding: 14px 10px;
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }

    .person {
      font-weight: bold;
      margin-top: 10px;
    }

    small {
      color: #5c5c5c;
      display: inline-block;
      padding-top: 10px;
    }

    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
      margin-top: 15px;
      width: 120px;
    }
  }
}

#beard {
  .mascot {
    margin-bottom: 50px;
    max-width: 200px;
  }

  .social-links {
    margin: 15px auto;

    a {
      padding: 0 15px;
    }
  }
}


form {
  .form-group {
    white-space: nowrap;
    margin-bottom: 10px;

    label {
      font-size: 1.1em;
      width: 196px;
      margin-right: 20px;
      display: inline-block;
      text-align: right;

      @media #{$phone-screen} {
        text-align: left;
        display: block;
        margin-top: 15px;
        width: 100%;
      }
    }

    input, select {
      width: 200px;
      max-width: 340px;
      font-size: 1em;

      @media #{$phone-screen} {
        display: block;
        margin-top: 15px;
        width: 100%;
      }
    }


    @media #{$phone-screen} {
      padding: 0 15px;
      width: 100%;
    }
  }

  input {
    padding: 9px;
    border: 1px solid $input-border-color;
    border-radius: 3px;
    font-weight: normal;
  }

  select {
    height: 34px;
    padding: 6px 12px;
    font-weight: normal;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
  }

  .button {
    font-size: 1.2em;
    margin: 15px auto;

    @media #{$phone-screen} {
      width: 100%;
      margin-top: 25px;
    }
  }
}

#registration {
  #register {
    max-width: $screen-medium;

    .description {
      margin: 30px auto;
      line-height: 1.5em;
    }
  }

  section#schedule {
    .talk {
      padding: 20px 0;
      border-bottom: 1px solid #ccc;

      &.last {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      .left, .right {
        display: inline-block;
        width: 30%;
        vertical-align: top;
      }

      .right {
        width: 60%;
        text-align: left;
      }

      img {
        border: 1px solid #c5c5c5;
        border-radius: 100%;
        margin-top: 15px;
        width: 100px;
      }

      .title, .presenter {
        margin: 0;
        padding: 0;
      }

      .presenter {
        font-weight: normal;
        margin-bottom: 15px;
      }

      &.break {
        color: darkgrey;
      }
    }
  }
}
