$screen-small: 320px;
$screen-medium: 768px;
$screen-large: 960px;

$primary-button-color: #f61f62;
$link-color: #f61f62;

$phone-screen: "only screen and (max-width: #{$screen-small})";
$pad-screen: "only screen and (max-width: #{$screen-medium})";
$large-screen: "only screen and (min-width: #{$screen-large})";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$navbar-height: 80px;

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 15%);
  }
}

h2 {
  font-size: 2em;
}

section, footer, header {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  max-width: $screen-large;
  margin: 0 auto;
}

.tw {
  max-width: 300px;
}

.border-line {
  border: 4px #f7ef34 solid;
  margin: 30px auto 35px auto;
  max-width: 400px;
}

.clearfix {
  clear: both;
}

.button {
  display: inline-block;
  font-weight: normal;
  padding: 0.55em 1.5em;
  padding-bottom: 0.75em;
  border: 0;
  border-radius: 5px;
  background-color: $primary-button-color;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten($primary-button-color, 10%);
  }
}

#header h1.boom {
  color: #464646;
  font-size: 3em;
  font-weight: 300;
}

section#photos {
  img {
    float: left;
    margin: 0 1.5% 3% 1.5%;
    overflow: hidden;
  }

  img.small {
    width: 30%;
  }

  img.large {
    width: 60%;
  }
}

section#upcoming-events {
  .event {
    border-left: 1px solid #c5c5c5;
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 0;
    width: 300px;

    &:nth-of-type(1) {
      border-left: none;
    }

    .location, .name {
      margin: 0;
    }

    .location {
      font-size: 2em;
      font-weight: 300;
    }

    .name {
      font-size: 1.2em;
      font-weight: 300;
      color: #333;
    }

    .register {
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .date {
      font-size: 1em;
    }

    .apply {
      color: white;
    }
  }
}

section#testimonials {
  background: url(./assets/bg.png) repeat;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 20px;
  width: 100%;

  .border-line {
    border: 4px #f61f62 solid;
    margin: 30px auto 35px auto;
    max-width: 400px;
  }

  .profile {
    display: inline-block;
    text-align: center;
    width: 30%;

    .quote {
      background: #f3f3f3;
      border: 1px solid white;
      border-radius: 5px 0 5px 0;
      padding: 14px 10px;
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }

    .person {
      font-weight: bold;
      margin-top: 10px;
    }

    small {
      color: #5c5c5c;
      display: inline-block;
      padding-top: 10px;
    }

    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
      margin-top: 15px;
      width: 120px;
    }
  }
}

#beard {
  .mascot {
    margin-bottom: 50px;
  }

  .social-links {
    font-size: 3em;

    a {
      padding: 0 15px;
    }
  }
}
