!!!
%html{lang: "en"}
  %head
    %title LevelUp
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/style.css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    %meta{name: "description", content: ""}

  %body
    {{ content }}
