!!!
%html{lang: "en"}
  %head
    %title LevelUp | Coding beyond the University
    %link(rel="stylesheet" type="text/css" href="./style.css")
    %meta{name: "description", content: ""}

  %body
    {{ content }}
