---
layout: default
---

#registration
  %header#navbar
    .navbar-internal
      .content
        %img{src: "/assets/glyph-logo.png"}

  %section#register
    %h1.boom Sydney LevelUp 3

    %h3
      22nd Match, 2014 at
      %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Sydney

    %form
      %p.description
        LevelUp 3 is our biggest course yet. Lorem ipsizzle mah nizzle sit shit, fo shizzle adipiscing that's the shizzle. Nullam black velizzle, pimpin' cool, hizzle quizzle, fizzle vel, . Pellentesque egizzle break yo neck, yall. Sizzle erizzle. Get down get down crunk dolor dapibizzle shiznit tempizzle get down get down. Maurizzle daahng dawg doggy et turpizzle.

      .form-group
        %label First Name
        %input{name: "email", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "email", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "email", placeholder: "Your Email"}

      .form-group
        %label What do you like doing?
        %select{name: "role"}
          %option Analysis
          %option Design
          %option Coding
          %option A bit of everything

      .form-group
        %input.button{type: "submit", value: "Register"}

  %section#schedule
    %h2 LevelUp Kickoff Schedule

    .border-line

    .talk
      .left
        .time 9.00AM
        %img{src: "/assets/man.jpg"}
      .right
        %h3.title Breakfast and an icebreaker
        %h5.presenter Everyone
        .description
          Breakkkkfast Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk
      .left
        .time 9:30AM
        %img{src: "/assets/tholang.jpg"}
      .right
        %h3.title The Lego game
        %h5.presenter ThoughtWorks Sydney
        .description
          The lego game description Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc


    .talk
      .left
        .time 10:30AM
        %img{src: "/assets/tholang.jpg"}
      .right
        %h3.title What the heck is Agile anyway?
        %h5.presenter ThoughtWorks Sydney
        .description
          The circuit. FIgure out a way to display this concept Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk.break
      .left
        .time 12.30AM
      .right
        %h3.title Lunch and product owner presentations
        %h5.presenter Sam Massey and Alex Gibson (TBD)
        .description
          Treat yourself to a fridge full of drinks and as much food as you an stomach. You deserve it! During lunch you'll meet your product owners and hear why they've contacted you to help them achieve their goals.

    .talk
      .left
        .time 1.00PM
        %img{src: "/assets/man.jpg"}
      .right
        %h3.title Your very first Inception
        %h5.presenter Dominic Bou-Samra and Kate Wilson
        .description
          Inception Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc

    .talk
      .left
        .time 4.30PM
        %img{src: "/assets/man.jpg"}
      .right
        %h3.title Team presentations and SOAP's
        %h5.presenter Everyone
        .description
          Team presentations Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Maecenas ut ligula iaculis quam auctor tincidunt eu nec mi.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Nunc sodales dignissim egestas. Nulla
          facilisi. Praesent lectus nunc


    .clearfix

